/Installer/Windwos/packages/io.github.linarcx.taghvim/data/*/
/Installer/Windwos/packages/io.github.linarcx.taghvim/data/
Installer/Windwos/TaghvimInstaller.exe
/Releases/*/
/soha.pro.user
soha.pro.user.*

#PKGBUILD/gnulium-git/.git/*/*/*
