#*

/Installer/Windwos/packages/io.github.linarcx.taghvim/data/*/
/Installer/Windwos/packages/io.github.linarcx.taghvim/data/
Installer/Windwos/TaghvimInstaller.exe
/Releases/*/
Soha.pro.user

#!/.gitignore
#!pom.xml
#!.classpath
#!.project
#!README.md

#!/.settings/

#!src/
#!src/*
#!src/*/*

#!target/
#PKGBUILD/gnulium-git/.git/*/*/*
#target/classes/
#target/generated-sources/
#target/m2e-wtp/
#target/Archineh-0.0.1-SNAPSHOT/WEB-INF/lib/
#/target/
#target/maven-archiver/
#target/maven-status/
#target/test-classes/
#target/tomcat/
#target/Archineh-0.0.1-SNAPSHOT.war

#.idea/

#.eggs/
#dist/
#garbage/
#phantomjs/
#tvdoon.egg-info/
#utility/__pycache__/
